.container-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.restart {
  background: rgb(35, 117, 106);
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
}

.restart:hover {
  background-color: rgb(35, 4, 101);
}

.restart-question {
  margin-bottom: 40px;
}
