.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(206, 198, 198);
  background-color: rgb(215, 207, 207);
  height: 50px;
  box-shadow: 0px 0px 2px rgba(152, 143, 143, 0.5);
  margin-top: 10px;
  border-radius: 5px;
}

.progress-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgb(188, 182, 182);
  margin-left: 5px;
  box-shadow: 0px 0px 2px rgba(155, 149, 149, 0.5);
  width: 20px;
}

.correct-answers-count {
  font-size: 20px;
}

.arrow {
  padding-right: 10px;
  margin-left: 7px;
}

.star {
  margin-left: 12px;
  margin-right: 6px;
}

@media screen and (max-width: 300px) {
  .progress-container {
    margin-left: auto;
    margin-right: auto;
  }
  .progress-number {
    font-size: 8px;
  }
  .correct-answers-count {
    font-size: 10px;
    margin-right: -5px;
  }

  .star {
    margin-left: -5px;
  }
}
