.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(206, 198, 198);
  background-color: rgb(215, 207, 207);
  gap: 10px;
  height: 50px;
  box-shadow: 0px 0px 2px rgba(152, 143, 143, 0.5);
  margin-top: -60px;
}

.progress-number {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  box-shadow: 0px 0px 2px rgba(152, 143, 143, 0.5);
}

.correct-answers-count {
  font-size: 20px;
}

.arrow {
  padding-right: 10px;
}

.star {
  margin-left: 5px;
  margin-right: -2px;
}
