.star-thinking-icons {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.container-main {
  min-height: 70vh;
}

.unicorn-pc {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
