.star-thinking-icons {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.star-thinking-icons .circle {
  margin-right: 10px;
}

.container-main {
  min-height: 70vh;
}

@media screen and (max-width: 600px) {
  .star-thinking-icons {
    margin-top: 20px;
  }

  .star-thinking-icons .circle,
  .star-thinking-icons .think {
    font-size: 20px;
  }
}
