@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 220px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Custom css */

section {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.app-container {
  height: auto;
  border: 2px solid black;
}

header {
  width: 10rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}

header svg {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

main {
  height: auto;
  min-height: fit-content;
  flex: 1;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#question-wrapper {
  width: 100%;
  justify-items: center;
  align-items: center;
  flex: 1;
  padding: 1rem 2rem;
}

#question-text-wrapper {
  padding: 1rem 2rem;
}

.answertitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.answertitle,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 800px;
  gap: 25px;
}

.flex-row {
  flex-direction: row;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.question-code {
  flex-wrap: wrap;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  height: auto;
}

.orange-color {
  color: #f79542;
}

.green-color {
  color: #31d784;
}

.purple-color {
  color: #6c42bc;
}

.questions-counter {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
}

#quiz-results {
  padding: 15px;
}

.resultsdiv h4 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.resultsdiv h4 div {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.answer {
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.answer p.answertitle {
  text-align: left;
  flex: 1;
}

.answer svg {
  max-width: 25px;
}

.answer h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.answer p {
  margin: 0;
  font-size: calc(1vw + 10px);
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/*  quiz css */

.current-question-index {
  font-size: clamp(3.2rem, 5vw, 60px);
  color: #535bf2;
  display: inline-block;
}

#answers-section {
  align-items: center;
  /* padding: 1rem 2rem; */
  padding: 1rem 4rem;
}

#answers-section div {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#answers-section div section {
  width: 100%;
  max-width: max-content;
  min-width: min-content;
  aspect-ratio: 1/1;
}

.answer-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 2px;
  font-size: 2rem;
}

.answer-text-box {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.answer-text-box.correct-box {
  background-color: #26d782;
}
.answer-text-box.incorrect-box {
  background-color: #ee5454;
}

.answer-text-container .correct-text {
  font-size: 1rem;
  color: #26d782;
}
.answer-text-container .incorrect-text {
  font-size: 1rem;
  color: #ee5454;
}

button.answer {
  font-size: 1.125rem;
  color: #313e51;
  background-color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  display: grid;
  /* grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr; */
  grid-template-rows: 1fr;
  grid-template-columns: 0fr 1fr 0fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-width: min-content;
  max-width: min-content;
  gap: 1rem;
  border-radius: 0.75rem;
  border: 0;
  padding: 0.75rem;
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}

button.answer:hover {
  background-color: #d7dbe2;
}

button.answer:focus,
button.answer:focus-visible {
  outline: none;
}

button.answer.correct {
  color: #ffffff;
  background-color: #5da515;
}

button.answer.incorrect {
  color: #ffffff;
  background-color: #cc0000;
}

.answerEffectElement {
  display: none;
  color: #ffffff;
}

button.answer.correct .answerEffectElement,
button.answer.incorrect .answerEffectElement {
  display: block;
}

button.answer svg.dot {
  display: none;
}

button.answer.correct svg.circle {
  display: none;
}
button.answer.correct svg.dot {
  display: block;
}
button.answer.incorrect svg.circle {
  display: none;
}
button.answer.incorrect svg.dot {
  display: block;
}

button.answer.incorrect .answerEffectElement {
  margin-top: 5px;
}

.animate__animated.animate__heartBeat {
  --animate-duration: 0.6s;
}

.animate__animated.animate__shakeX {
  --animate-duration: 0.9s;
}

.slide-right {
  width: 100%;
  height: auto;
  transition: height 150ms ease-out 0s, opacity 100ms ease-out 150ms;
  animation: 1s slide-right;
  transition-timing-function: ease-in-out;
}

#score-indicator-wrapper {
  height: auto;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  background-color: #ebf0ff;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  gap: 20px;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
  box-shadow: 0px 16px 40px 0px rgb(143 160 193 / 45%);
}
#score-indicator-wrapper:after {
  display: block;
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background: url(https://source.unsplash.com/E8Ufcyxz514/2400x1823) center
    center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 13px;
}
.score-indicator {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  height: 25px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  background-color: rgb(85 93 239);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  color: #d7dbe2;
  display: flex;
  flex-direction: column;
}

.score-indicator span {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  background-color: #ffffff;
}

.score-indicator span.correct {
  color: #5da515;
}

.score-indicator span.incorrect {
  background-color: #ffffff;
}

.score-indicator span svg {
  width: 15px;
  height: 22px;
}

.score-indicator span.correct svg {
  filter: brightness(0) saturate(100%) invert(47%) sepia(71%) saturate(492%)
    hue-rotate(47deg) brightness(101%) contrast(96%);
}

.score-indicator span.incorrect svg {
  filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(4207%)
    hue-rotate(355deg) brightness(106%) contrast(118%);
}

.score-indicator sup {
  content: "";
  position: absolute;
  top: -15px;
  left: -20px;
  width: 100%;
  height: 30px;
  color: black;
  font-weight: bold;
}

/* Main menu */

.start-menu > .left-content h1 {
  color: #313e51;
  font-weight: 300;
  font-size: 2.5rem;
  font-size: clamp(1.5rem, 1.6rem + 1.25vw, 4rem);
  margin: 0 auto;
}

.start-menu > .left-content h1 > span {
  font-weight: 500;
}

.start-menu > .left-content p {
  color: #626c7f;
  font-style: italic;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

#main-menu-choises {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  width: 100%;
  padding: 0 3rem;
}

.start-menu > .left-content {
  justify-content: flex-start;
  gap: 5px;
}
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-menu > #main-menu-choises > button.answer {
  height: calc(7vh + 2vw);
  width: 10rem;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-width: fit-content;
}

h2 {
  color: #313e51;
  font-size: 1.125rem;
  font-size: clamp(1.125rem, 0.905rem + 0.939vw, 1.75rem);
  font-weight: 500;
}

#timer-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
}
#timer-section span {
  font-weight: bold;
}
.labelScoreContainer .number {
  display: none;
  margin-left: 5px;
}

#timer-section .main-menu-button.answer.hard.selected {
  color: #ebf0ff;
  background: linear-gradient(to right, rgb(255, 3, 88), rgb(255 95 149));
  text-shadow: 3px 3px 2px rgba(29, 0, 0, 1);
}

#timer-section .main-menu-button.answer.easy.selected {
  color: #ebf0ff;
  background: linear-gradient(to right, rgb(30, 226, 38), rgb(76, 175, 80));
  text-shadow: 3px 3px 2px rgba(29, 0, 0, 1);
}

#timer-section .main-menu-button.answer.medium.selected {
  color: #ebf0ff;
  background: linear-gradient(to right, rgb(207, 233, 11), rgb(195, 189, 17));
  text-shadow: 3px 3px 2px rgba(29, 0, 0, 1);
}

.questions-counter-text {
  border-left: 5px solid #356cfc;
  padding: 5px;
  border-right: 5px dashed #f68137;
  border-top: 5px dotted #7948c0;
  border-bottom: 5px outset #38d889;
}

/* Keyframe animation */
@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 650px) {
  button.answer {
    margin: 0.2rem;
  }
  header svg {
    flex: none;
    height: 7vh;
  }
  #main-menu-choises {
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 25px;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .start-menu > #main-menu-choises > button.answer {
    height: 7rem;
    width: 7rem;
    font-size: 1rem;
    max-width: 7rem;
    aspect-ratio: 1 / 1;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }
  main.flex-row {
    flex-direction: column;
  }
  #answers-section {
    display: flex;
    flex-direction: column;
  }
  pre {
    font-size: 85%;
  }
  #answers-section div section {
    aspect-ratio: auto;
  }

  .resultsdiv h4 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .start-menu {
    padding: 2.5rem 4rem;
  }
  button.answer p {
    /* font-size: 1.75rem; */
    font-size: calc(1vh + 10px);
  }
}
